@use "assets/scss/_variables.scss" as *;

@mixin input() {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 11px;
}

@mixin text($size: 14px) {
  font-family: $font-main;
  font-size: $size;
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: 1.4;
}

@mixin desktop() {
  @media (min-width: $desktop-width ) {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: ($desktop-width - 1) ) {
    @content;
  }
}