// FONTS
$font-main: var(--font-main);

// DECORATIVE
$box-shadow: 0 0 6px 10px rgba(#474350, 0.06);

// LAYOUT
$desktop-width: 1366px;
$mobile-outer-gap: 24px;
$mobile-inner-gap: 16px;
$desktop-outer-gap: 38px;
$desktop-inner-gap: 26px;
