/* palette */
:root {
  --color-theme-primary: #e63462;
  --color-theme-primary-light: #e494aa;
  --color-theme-primary-dark: #7d1c36;

  --color-main-dark: #474350;
  --color-main-light: #dfd7d7;
}

/* semantic color variables */
:root {
  --font-main: "Helvetica", "Arial", sans-serif;
  --color-border: rgba(60, 60, 60, 0.12);
  --color-border-hover: rgba(60, 60, 60, 0.29);
  --color-text: var(--color-main-dark);
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--font-main);
  color: var(--color-text);

  background-color: var(--color-main-light);
}
